<ion-buttons slot="primary" class="viewsCount">
  <ion-button>
    <ion-icon name="eye-outline"></ion-icon> {{views}}
  </ion-button>
</ion-buttons>

<ion-content [fullscreen]="true" force-overscroll="false">
  <!-- If youtube remove overlay effect -->
  <!-- <div class="videoOverlay"></div> -->
  <div class="heart" *ngIf="isShowingLove == true">♥</div>
  <!-- <gl-background-video src="{{streamOuput}}" ></gl-background-video> -->
  <!-- video -->
 <video #target class="video-js" [ngClass]="{'portraitFullScreen': isPortrait == true}" playsinline preload="none" controls="false"></video> 

  <ion-footer class="footer ion-no-border">
    <ion-toolbar>
      <!-- comments -->
      <ion-list class="commentsContainer ion-padding">
        <ion-label *ngFor="let comment of comments">{{comment}}</ion-label>
      </ion-list>
      <!-- quick commenting -->
      <ion-list lines="none" class="quickCommentContainer">
        <ion-item detail="false" *ngFor="let quickComment of quickCommentList" button
          (click)="onMakeComment(quickComment)">
          <ion-label>{{quickComment}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-item class="interactionContainer">
        <ion-input type="text" placeholder="Comment" (keydown.enter)="onMakeComment($event.target.value)"
          [(ngModel)]="inputComment"></ion-input>
        <ion-buttons>
          <ion-button (click)="onShare()">
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onShowLove()">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-content>

