<ion-img src="../../assets/tvLogo.png" class="streamLogo"></ion-img>

<ion-content [fullscreen]="true" force-overscroll="false">
  <!-- If youtube remove overlay effect -->
  <!-- <div class="videoOverlay"></div> -->
  <div class="heart" *ngIf="isShowingLove == true">♥</div>
  <!-- <gl-background-video src="{{streamOuput}}" ></gl-background-video> -->
  <!-- video  [ngClass]="{'portraitFullScreen': isPortrait == true}"-->
  <video #target class="video-js" playsinline controls="false" poster="/src/assets/tvLogo.png"
    (dblclick)="onVideoDblClick()"></video>

  <!-- offering / tithe / seed-->
  <ion-fab #fabRef horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="onFabClick()">
      <ion-icon name="gift-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" class="givingFab">

    </ion-fab-list>
  </ion-fab>

  <!-- giving options -->
  <ion-buttons class="givingButtons" [hidden]="isActivated === false">
    <ion-button>Offering</ion-button>
    <ion-button>Tithe</ion-button>
    <ion-button>Seed</ion-button>

  </ion-buttons>

  <!-- <ion-footer class="footer ion-no-border">
    <ion-toolbar>
      <ion-item class="interactionContainer">
        <ion-buttons slot="start">
          <ion-button (click)="onShare()">
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-footer> -->
</ion-content>