<ion-buttons slot="primary" class="viewsCount">
  <ion-button>
    <ion-icon name="eye-outline"></ion-icon> {{views}}
  </ion-button>
</ion-buttons>

<ion-content [fullscreen]="true" force-overscroll="false">
  <!-- If youtube remove overlay effect -->
  <!-- <div class="videoOverlay"></div> -->
  <div class="heart" *ngIf="isShowingLove == true">♥</div>
  <!-- <gl-background-video src="{{streamOuput}}" ></gl-background-video> -->
  <!-- video  [ngClass]="{'portraitFullScreen': isPortrait == true}"-->
 <video #target class="video-js"  playsinline
    controls="false"  poster="/src/assets/tvLogo.png"></video>

  <ion-footer class="footer ion-no-border">
    <ion-toolbar>
      <ion-item class="interactionContainer">
        <ion-buttons slot="end">
          <ion-button (click)="onShare()">
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onShowLove()">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onShowLove()">
            <ion-icon name="gift-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-content>